:root {
	--page-background-color: #fff;
	--header-background-color: #241571;
	--header-button-background-color: #1f456e;
	--header-button-hover-background-color: #52b2bf;
	/* --footer-background-color: #82eefd; */
	--page-font-color: #000;
	--header-font-color: #fff;
	/* --footer-font-color: #999; */
	--sidenav-font-color: #bbb;
	box-sizing: border-box;
	font-size: calc(0.5em + 1vmin + 0.75vmax);
	line-height: 1.5;
	font-family: "Roboto", monospace;
}

*,
::before,
::after {
	box-sizing: inherit;
}
