/* HTML Tags */
h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
label {
	font-size: 0.8rem;
}
textarea {
	flex: 1;
	resize: none;
}
/* CSS Classes */
.form {
	display: flex;
	flex: 1;
	min-height: 100vh;
	flex-flow: column nowrap;
	padding: 0.5em;
	border: 2px solid lightgray;
	border-radius: 0.5em;
}
.span-button {
	background-color: var(--header-button-background-color);
	font-size: 0.8rem;
	border-radius: 0.5em;
	padding: 0.25em 0.5em;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease-out;
	text-align: center;
}
.error-box {
	flex-flow: column wrap;
	margin-top: 0.75em;
	padding: 0.5em 0;
	border: 2px solid #ffaaaa;
	background-color: #ffd8d8;
	color: darkred;
}
.error-msg {
	text-align: center;
	font-size: 0.5rem;
}
/* CSS Selectors */
/* Inputs */
input[name="title"] {
	width: 80%;
}
input[type="submit"] {
	width: 15%;
	margin-left: 1em;
	cursor: pointer;
}
input[type="file"] {
	margin-top: 0.3em;
}
/* End of Inputs */
.form > * + * {
	margin-top: 0.5em;
}

select[name="category"] {
	width: 80%;
}

textarea[name="blog-preview"] {
	flex: 0.2;
}
div[name="image-container"] {
	flex-flow: row wrap;
	justify-content: space-between;
}
.form-top-container > * {
	flex: 1;
}
#clear-container {
	flex: 1;
}
/* Actions */
.span-button:hover {
	background-color: var(--header-button-hover-background-color);
}
input[type="submit"]:hover {
	background-color: #ddd;
}
