a[name="cancel"] {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 0.7rem;
	color: black;
	border: gray solid 1px;
	border-radius: 0.2em;
	padding: 0.3em 1.2em;
}
a[name="cancel"]:hover {
	background-color: #ccc;
}
